<footer>
    <nav class="bottom-nav">
        <ul>
            <li><a href="/impressum">Impressum</a></li>
            <li><a href="/datenschutz">Datenschutz</a></li>
            <li><a href="/datenschutz">AGB</a></li>
            

        </ul>
    </nav>
</footer>