<header>
    <img id="header-logo" src="/images/logo.svg" alt="ironhack-connect-logo">
    <img id="menu-btn" src="/images/menu-btn.svg" alt="ironhack-connect-logo" onclick="menuToggle()">
    
    <nav class="nav-mobile"> 
        <img id="close-btn" src="/images/close-btn.svg" alt="ironhack-connect-logo" onclick="menuToggle()">
        <navcontent>
            <ul>
                <li><a href="/">Dashboard</a></li>
                <li><a href="/today">Jobs</a></li>
                
                {{#equal "admin" user.role}}
                    <li><a href="/user/create">Create User</a></li>
                {{/equal}}
                <li><a href="/user/">Member</a></li>
                <li><a href="/user/{{user._id}}">My Profile</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </navcontent>       
    </nav>

</header>


<div class="anchor"></div>