<header>
    <img id="header-logo" src="/images/logo.svg" alt="ironhack-connect-logo">
    <img id="menu-btn" src="/images/menu-btn.svg" alt="ironhack-connect-logo" onclick="menuToggle()">
    
    <nav class="nav-mobile"> 
        <img id="close-btn" src="/images/close-btn.svg" alt="ironhack-connect-logo" onclick="menuToggle()">
        <navcontent>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/today">Today</a></li>
                <li><a href="/login">Login</a></li>
                {{#if admin}}
                     <li><a href="/datenschutz">Admin</a></li>
                {{/if}}
            </ul>

        </navcontent>       
    </nav>
    <nav class="nav" style=" "> 

        <navcontent style=" ">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/today">Today</a></li>
                <li><a href="/login">Login</a></li>
            </ul>

        </navcontent>       
    </nav>


</header>


<div class="anchor"></div>