<div class="profile-header">
  <img src="" alt="">
  <h3 id="user-name">placeholder name</h3>
  <h4 id="user-profession">placeholder profession </h4>
</div>
<section class="skills">
  <ul>
    <li></li>
  </ul>
</section>