* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$dark-theme-color: #30354c;
$accent-theme-color: #32c3ff;
$light-theme-color: #eeeeef;
$medium-theme-color: #c8c8c8;
$text-color: #333;
$heading-color: #30354c;

$xl-text-size: 36;
$lg-text-size: 24px;
$md-text-size: 18px;
$nm-text-size: 16px;
$xs-text-size: 14px;
html {
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  font-size: 16px;
  height: 100%;
  width: 100%;
}
a {
  text-decoration: none;
  color: $accent-theme-color;
}
.bold {
  font-weight: bold !important;
}
.italic {
  font-style: italic !important;
}
.nm-text {
  font-size: $nm-text-size;
  font-weight: normal;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

.no-margin {
  margin: 0;
}

.justify-space-between {
  justify-content: space-between;
}
.justify-start{
  justify-content: flex-start;
}

.align-center {
  align-items: center;
}
button,
.btn {
  display: flex;
  height: 20px;
  padding: 0.5rem;
  width: 100%;
  background-color: $dark-theme-color;
  height: 2rem;
  border: 1px solid $dark-theme-color;
  border-radius: 0.2rem;
  color: white;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 2px 0 $dark-theme-color;
  &:hover{
    cursor: pointer;
    background-color: $accent-theme-color;
    color: $heading-color;
    border-color: $accent-theme-color;
  }
}

.btn-secondary {
  background-color: $accent-theme-color;
  border-color: $accent-theme-color;
  color: white;
}

body {
  min-height: 100%;
  width: 100%;
}

/* Flexbox by default*/

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  color: $heading-color;
  text-align: left;
}
h1,
.h1 {
  font-size: $xl-text-size;
  line-height: 49px;
  font-style: normal;
  font-weight: bold;
}
h2,
.h2 {
  font-size: $lg-text-size;

  line-height: 33px;
  font-style: normal;
  font-weight: bold;
}
h3,
.h3 {
  font-style: italic;
  font-weight: normal;
  font-size: $lg-text-size;
  line-height: 33px;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: $dark-theme-color;
  #header-logo {
    position: relative;
    top: 1.2rem;
    left: 1.2rem;
  }
  #menu-btn {
    position: relative;
    top: 0;
    right: 1.2rem;
  }

  nav.nav-mobile {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: -100vw;
    width: 100%;
    max-width: 300px;
    height: 100%;
    justify-content: stretch;
    background-color: $dark-theme-color;
    z-index: 99;

    #close-btn {
      position: absolute;
      top: 1.5rem;
      right: 1.2rem;
    }

    &.visible {
      display: flex;
      left: 0;
      transition: left 100ms;
    }

    navcontent {
      width: 100%;
      overflow-y: scroll;
      ul {
        width: 85%;
        li:first-of-type {
          border: unset;
          margin-top: 1rem;
        }
        li {
          border-top: 1px solid white;
          flex-direction: columns;
          a {
            display: flex;
            flex-direction: column;
            color: white;
            padding: 2rem;
            margin: 0;
            width: 100%;
            justify-content: center;
            align-items: flex-start;
          }
        }
      }
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}
.edit {
  position: absolute;
  top: 0px;
  right: 0px;
  align-self: flex-end;
  display: flex;
  align-items: baseline;
  height: auto;
  margin: 1rem;

  a {
    display: flex;
    padding: 0;
    width: auto;
    height: 100%;
    margin-left: 1rem;

    .edit-button {
      width: auto;
      height: 100%;
      padding: 0.2rem;
      border: 2px solid $medium-theme-color;
      border-radius: 0.2rem;
    }
    
  }
}

.profile,
.job-profile {
  .item#portfolio-link{
    background-color: transparent;
    box-shadow: unset;
  }
  width: 100%;
  .profile-head,
  .job-profile-head {
    display: flex;
    align-items: flex-start;
    width: 100%;
    img {
      display: flex;
      flex: 1 1 40%;
      max-width: 150px;
      height: auto;
      border-radius: 50%;
      border: 1px solid $medium-theme-color;
      &#job-profile-image {
        display: flex;
        border-radius: 0;
        flex-grow: 1;
        height: 100%;
        width: 100%;
      }
    }
    .job-profile-intro {
      display: flex;
      height: 100%;
      margin: 0;
      flex-direction: column;
      padding: 0.2rem;
      padding-left: 1rem;
      flex: 1 1 60%;
      background-color: $light-theme-color;
    }

    .profile-intro {
      padding: 0.2rem;
      margin-left: 1rem;
      flex: 1 1 60%;
    }
  }
  .profile-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;

    .tech-stack,
    .portfolio,
    .cv {
      * {
        margin: 0;
      }
      background-color: $light-theme-color;
      display: flex;
      flex-direction: column;
      padding: 0.5rem;
      border-radius: 0.2rem;
      .item {
        display: flex;
        justify-content: left;
        align-items: baseline;
        background-color: $medium-theme-color;
        padding: 0.5rem;
        margin: 0.5rem;
        border-radius: 0.2rem;
        box-shadow: 0 1px 2px 0 $dark-theme-color;

        &#add {
          background-color: $accent-theme-color;
          color: white;
          &:hover {
            cursor: pointer;
          }
        }
        #close-btn {
          height: 15px;
          width: auto;
          margin: 0 0.5rem;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    .cv .item{
      box-shadow: unset !important;
      background-color: transparent;
    }

    .tech-stack {
      flex-direction: row;
      flex-wrap: wrap;
      img.killer {
        height: 15px;
        width: auto;
        margin-left: 1rem;
      }
    }
  }
}

.content-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 960px;
  flex-direction: column;
  padding: 3rem;
  align-items: stretch;
  * {
    margin-bottom: 1rem;
  }

  &.login {
    align-items: center;
    width: 250px;
    .login-form {
      width: 250px;
    }
  }

  .jobs-preview,
  .users-preview {
    display: flex;
    flex-direction: column;
    width: 100%;
    .job-preview,
    .user-preview {
      display: flex;
      justify-content: center;
      align-items: stretch;
      width: 100%;

      margin-bottom: 2rem;
      * {
        margin: 0;
      }
      .img-section {
        flex: 1 1 20%;
        display: flex;
        img {
          height: 100%;
          width: 100%;
        }
      }
      .content-section {
        flex: 1 2 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0 1rem;
        background-color: $light-theme-color;
        * {
        }
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;

    input,
    select {
      &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $medium-theme-color;
        opacity: 1; /* Firefox */
      }
      min-height: 20px;
      margin: 1rem 0;
      padding-left: 1rem;
      height: 2rem;
      border: 1px solid $medium-theme-color;
      border-radius: 0.2rem;
      color: $dark-theme-color;
      display: flex;
      align-items: center;
      width: 100%;
    }

    input#cv-input-current {
      width: 10px;
      height: 10px;
      &:checked + div {
        display: none;
      }
    }
  }
}

input,
select {
  margin: 0.5rem 0.2rem !important;
}

.visible {
  display: block;
}

nav.nav {
  display: flex;
  flex-direction: row-reverse;
  width: auto;
  height: 100%;
  z-index: 99;

  navcontent {
    width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  header {
    #menu-btn {
      display: block;
    }
    nav.nav-mobile {
      max-width: 100%;
    }
  }

  main {
    padding: 0rem;
    .content-wrapper {
    }
  }

  .profile {
    justify-content: flex-start;
    .profile-head {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      img {
        flex: unset;
      }
      .profile-intro {
        width: 100%;
      }
    }
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 1281px) {
  #header-logo {
    position: relative;
    width: 4rem;
    height: auto;
    top: 1rem;
    left: 1.2rem;
  }

  //CSS
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  //CSS
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  //CSS
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  //CSS
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
