<h2>Adding a new Job offer</h2>

<form action="/jobs" method="POST">
  <label for="title">Insert the job title</label>
  <input type="text" name="title" id="title">
  <label for="company">Company name</label>
  <input type="text" name="company" id="company">
  <label for="companyUrl">Company Website</label>
  <input type="text" name="companyUrl" id="companyUrl">
  <label for="description">Add a description</label>
  <input type="text" name="description" id="description">
  <label for="contractType">Is it a full time job?</label>
  <input type="text" name="contractType" id="contractType">
  <button type="submit"> Save!</button>
</form>