<form class="form-recent" action="/jobs-search" method="GET">
  <input type="text" placeholder="Search.." name="job">
  <button>Search</button>
</form>

<h3>Recently added</h3>
<div class="jobs-preview">
  {{#each jobRecentList}}
  <div class="job-preview">
    <h3>{{this.title}}</h3>
    <h4>{{this.city}}</h4>
    <div class="ing-section"> <img src="{{this.image}}" alt="job icon"> </div>
    <a href="/jobs/{{this.id}}">
      <h5>View details</h5>

    </a>
  </div>
  {{/each}}
</div>