<h1> Users login </h1>

{{#if errorMessage}}
  <div class="login error">{{errorMessage}}</div>
{{/if}}

<form action="/login" method="POST">

  <input type="text" name="username" placeholder="Username or E-Mail" required>
  <input type="password" name="password" placeholder="Password" required>
  <button type="submit" class="btn btn-primary"> Login </button>

</form>